html, body {
  * {
    margin: 0;
  }
}

$drop-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

#header {
  position: absolute;
  top: 2rem;
  left: 50%;
  transform: translateX(-50%);
}

.content {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

#copyright {
  text-align: center;
  padding: 1rem;
  font-size: 12px;
}
