$blue: #527aff;

@font-face {
  font-family: Grantipo;
  src: url('./fonts/GrantipoBeta001-Regular.ttf');
}

@font-face {
  font-family: Grantipo;
  font-weight: bold;
  src: url('./fonts/GrantipoBeta001-Bold.ttf');
}

html,
body {
  font-family: Grantipo;

  * {
    margin: 0;
  }
}

h1 {
  font-size: 24pt;
  color: $blue;
  font-weight: bold;
}

h2 {
  font-size: 16pt;
  color: black;
  font-weight: normal;
}

h3 {
  font-size: 12pt;
  color: $blue;
  font-weight: bold;
}

p {
  font-size: 12pt;
  color: black;
}

a {
  text-decoration: none;
}

i {
  color: $blue;
}

#frame-1 {
  height: 100vh;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  #header {
    position: absolute;
    top: 2rem;
    left: 50%;
    transform: translateX(-50%);
  }

  #splash {
    margin: 0 auto;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    img {
      height: 128px;
      border-radius: 50%;
    }

    #splash-content {
      margin-left: 2rem;
    }
  }

  i {
    @-webkit-keyframes action {
      0% {
        transform: translateY(0);
      }
      100% {
        transform: translateY(-10px);
      }
    }

    @keyframes action {
      0% {
        transform: translateY(0);
      }
      100% {
        transform: translateY(-10px);
      }
    }

    position: absolute;
    bottom: 5rem;

    -webkit-animation: action 0.7s infinite alternate;
    animation: action 0.7s infinite alternate;
  }

  #links {
    position: absolute;
    bottom: 2rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    h3 {
      margin-left: 1rem;
      margin-right: 1rem;
    }
  }

  @media only screen and (max-width: 640px) {
    #splash {
      margin: 0 auto;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      img {
        margin-bottom: 1rem;
      }

      #splash-content {
        text-align: center;
        margin: 0 auto;
      }
    }
  }
}
