html *, body * {
  margin: 0;
}

#header {
  position: absolute;
  top: 2rem;
  left: 50%;
  transform: translateX(-50%);
}

.content {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

@font-face {
  font-family: Grantipo;
  src: url("../../fonts/GrantipoBeta001-Regular.ttf");
}
@font-face {
  font-family: Grantipo;
  font-weight: bold;
  src: url("../../fonts/GrantipoBeta001-Bold.ttf");
}
@font-face {
  font-family: Fira;
  font-weight: normal;
  src: url("../../fonts/FiraCode-Medium.ttf");
}
html,
body {
  font-family: Grantipo;
}

h1 {
  font-size: 28px;
  color: #527aff;
  font-weight: bold;
  margin-bottom: 0.5rem;
}
@media only screen and (max-width: 850px) {
  h1 {
    font-size: 20px;
  }
}

h2 {
  font-size: 24px;
  color: black;
  font-weight: normal;
}

h3 {
  font-size: 16px;
  color: #527aff;
  font-weight: bold;
}

p {
  font-size: 16px;
  color: black;
}

a {
  color: #527aff;
  text-decoration: none;
}

code {
  font-family: Fira;
  color: #959595;
}

i {
  color: #527aff;
}

#frame-1 {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#frame-1 #splash {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#frame-1 #splash img {
  height: 128px;
  border-radius: 50%;
}
#frame-1 #splash #splash-content {
  margin-left: 2rem;
}
#frame-1 i {
  position: absolute;
  bottom: 5rem;
  -webkit-animation: action 0.7s infinite alternate;
  animation: action 0.7s infinite alternate;
}
@-webkit-keyframes action {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}
@keyframes action {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}
#frame-1 #links {
  position: absolute;
  bottom: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#frame-1 #links h3 {
  margin-left: 1rem;
  margin-right: 1rem;
}
@media only screen and (max-width: 850px) {
  #frame-1 #links h3 {
    font-size: 12px;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
}
@media only screen and (max-width: 850px) {
  #frame-1 #splash {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #frame-1 #splash img {
    margin-bottom: 1rem;
  }
  #frame-1 #splash #splash-content {
    text-align: center;
    margin: 0 auto;
  }
}

#frame-2 {
  width: 70%;
  max-width: 64rem;
  margin: 0 auto;
  margin-top: 4rem;
  margin-bottom: 4rem;
}
#frame-2 .section {
  display: flex;
  margin-bottom: 4rem;
}
#frame-2 .section .section-img {
  display: inline-block;
  width: calc(30% - 2.5rem);
  margin-right: 2rem;
}
#frame-2 .section .section-img img {
  margin-top: 0.7rem;
  width: 100%;
}
#frame-2 .section .section-content {
  display: inline-block;
  width: 70%;
}

@media only screen and (max-width: 850px) {
  #frame-2 {
    width: 80%;
  }
  #frame-2 .section {
    display: block;
    margin-bottom: 3rem;
  }
  #frame-2 .section .section-img {
    margin-right: 0;
    margin-bottom: 1rem;
    width: 100%;
  }
  #frame-2 .section .section-content {
    width: 100%;
  }
}

/*# sourceMappingURL=index.css.map */
