$darkgray: #333333;
$blue: #527aff;

@mixin noselect() {
  // disable text highlighting in button
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

h1 {
  color: $blue;
}

html {
  margin: 0;
  padding: 0;
  overflow-y: scroll;

  color: $darkgray;
  font-family: 'Grantipo Beta 001', sans-serif;

  .content {
    padding: 48px 48px 48px 48px;
  }
}
