$darkgray: #333333;
$blue: #527aff;

@mixin noselect() {
  // disable text highlighting in button
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

h1 {
  color: $blue;
}

a {
  &:hover {
    color: $blue;
    text-decoration: none;
  }

  color: $blue;
  text-decoration: none;
}

* {
  font-family: 'Grantipo Beta 001', sans-serif !important;
}

html {
  margin: 0;
  padding: 0;
  overflow-y: scroll;

  color: $darkgray;
  font-weight: bold;

  .content {
    padding: 3em;

    .top {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    .page {
      &:not(:last-of-type) {
        margin-bottom: 3em;
      }

      height: calc(100vh - 6em);
      position: relative;

      &:not(:first-of-type) {
        height: auto;
      }

      .page-content {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
      }

      .footer {
        position: absolute;
        bottom: 0;
        width: 100%;

        ul {
          list-style: none;
          text-align: center;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          padding: 0;

          li {
            padding: 0 0.5em 0 0.5em;
            display: inline-block;
          }
        }
      }
    }
  }
}
