@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

#jmt-page {
  font-family: 'PT Serif', serif;
  padding: 20px;

  #jmt-content {
    margin-top: 4rem;
    max-width: 1000px;

    .image-grid {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;

        margin: 0 auto;
        margin-top: 2rem;
        margin-bottom: 1rem;

        width: calc(100% - 2rem);
        max-width: 100%;
        
        gap: 1rem;

        @media only screen and (max-width: 850px) {
            gap: 0.5rem;
        }
    }

    ul {
      margin-bottom: 0.7rem;
    }

    caption {
        color: #676767;
        font-style: italic;
        margin: 0 auto;
        text-align: center;
        display: block;
        margin-bottom: 2rem;
    }

    img {
      display: block;
      max-width: 600px;
      max-height: 300px;
      object-fit: scale-down;

      @media only screen and (max-width: 850px) {
        max-width: 360px;
        max-height: 180px;
      }
    }

    .nav {
      display: flex;
      justify-content: space-between;
      margin: 2rem 0;
      font-weight: bold;
      font-size: 14pt;
    }

    i {
      color: black;
    }

    blockquote {
      // background: #f9f9f9;
      border-left: 4px solid #ccc;
      margin: 2rem;
      padding: 0.7rem;
      padding-left: 1rem;
      font-style: italic;
    }
  }
  h1 {
    color: black;
  }
  p {
    margin-bottom: 1rem;
  }
}
