@import "../common.scss";
@import "../colors.scss";
@import "../fonts.scss";

#photos-page {
  #frame-1 {
    margin: 0 auto;
    height: 10vh;
    width: 60%;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    padding-bottom: 3rem;
    margin-bottom: 3rem;
  }

  .ReactGridGallery {
    margin-top: 2rem;
    div {
      // justify-content: center;
    }
  }
}
